.siteNavigationLogo {
  width: 120px;
  margin-right: 1.5rem;
}

.siteNavigationMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
  font-family: var(--sans-serif-font);
  font-weight: 500;

  ul:nth-child(2) {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li:first-child {
      margin-right: 1rem;
    }
  }
}

.lightModeImage {
  display: block;

  @media (prefers-color-scheme: dark) {
    display: none;
  }
}

.darkModeImage {
  display: none;
  @media (prefers-color-scheme: dark) {
    display: block;
  }
}