.navigationItem {
  height: min-content;
  
  a {
    padding: 0.25em 0.5em;
    height: min-content;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--menu-item-border-radius);
    
    &:hover, &:focus, &:active {
      background-color: var(--menu-item-hover-color)
    }
  }
}