.homeIntroImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 0.5rem;

  img {
    width: 130%;
    max-width: 130%;
  }
}

.homeImageColumnContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (min-width: 1024px) {
    justify-content: flex-end;
    text-align: right;
  }
}

.socialLinks {
  padding: 0.25rem 0;
  a svg {
    font-size: 28px;
    margin-right: 0.5rem;
  }
}