.homeIntroImage {
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 10;

  @media screen and (min-width: 1024px) {
      width: 300px;
      height: 300px;
  }
}

.homeImageColumnContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (min-width: 1024px) {
    justify-content: flex-end;
    text-align: right;
  }
}

.homeImageStroke {
  position: absolute;
  top: 44px;
  transform: scale(1.0) rotate(30deg);
  max-width: 100%;
  z-index: -1;

  @media screen and (min-width: 767px) {
    transform: scale(1.3) rotate(30deg);
  }
}

.socialLinks {
  padding: 0.25rem 0;
  display: flex;
  flex-wrap: nowrap;
  a {
    width: 44px;
    height: 44px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    border-radius: var(--border-radius);

    &:last-child {
      margin-right: 0;
    }

    &:hover, &:focus, &:active {
      svg {
        color: var(--primary);
      }
    }
  }
  a svg {
    font-size: 32px;
  }
}